<div class="flex justify-between mb-4">
    <div class="w-1/2 px-4">
        <h2>Got a talk idea? We want to see it!</h2>
        <p>
            We’re pleased to announce our conference! {{ site.title }} will be
            one of the best DevOps conferences where community members from around
            the world come together to learn and share knowlege about the latest
            trends and technologies.
        </p>
    </div>

    <div class="w-1/2 px-4">
        <h2>Diversity Matters!</h2>
        <p>
            {{ site.title }} is committed to create a conference that is as inclusive as possible.
            We want to showcase diverse talent available in Europe and welcome international submissions as well.
        </p>
        <p>
            We are also committed to ensure the conference is a place
            where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
            is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
            professional and courteous to each other. We reserve the right to remove, without refund,
            ANY attendee (speaker or otherwise) who is unable to adhere to this policy. Please see our
            complete <a href="https://www.devopsdays.org/events/2019-zurich/conduct/">code of conduct</a>.
        </p>
    </div>
</div>
