{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Call for Papers Talk Ideas</h2>
    <p>
        If you want to get some inspiration you can find our <a href="https://www.devopsdays.org/events/2018-zurich/program/">last years schedule online on our website.</a>
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Visualizing DevOps</li>
        <li>Microservices</li>
        <li>Containers - Orchestration/Scheduling</li>
        <li>Serverless</li>
        <li>Continuous Integration and Continuous Delivery/Deployment</li>
        <li>DevOps Culture</li>
        <li>DevOps Future</li>
        <li>New Tooling</li>
        <li>Success Stories</li>
    </ul>
</div>
{% endblock %}

