<div class="container">
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
                We’re pleased to announce our conference, {{ site.title }} should be
                one of the best DevOps conferences where community members from around
                the world come together to learn and share knowlege about the latest
                trends and technologies.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Talk Ideas</h3>
            <p>
                We know it's hard to get started with a Talk proposal. We'd love to see a big variety of Talks on our stage. Head over to our Talk Ideas page to get a few Ideas on which topics we'd welcome on our stage.
                <p><a href="{{ url('talk_ideas') }}">View Talk Ideas</a></p>
            </p>
        </div>
    </div>
</div>
