{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        If you want to get some inspiration you can find our <a href="https://www.devopsdays.org/events/2017-zurich/program/">last years programme online on our website.</a>
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Visualizing DevOps</li>
        <li>Microservices</li>
        <li>Containers - Orchestration/Scheduling</li>
        <li>Serverless</li>
        <li>Continuous Integration and Continuous Delivery/Deployment</li>
        <li>Configuration Management - event driven/immutability</li>
    </ul>
</div>


<div class="container">
    <h2 class="headline--beta">Speaker Agreement</h2>
    <p>
    The DevOpsDays Zurich organizer team has created the DevOpsDays Zurich Speaker Agreement to outline the expected responsibilities of DevOpsDays Zurich speakers. Please read through the items listed below before clicking "I Agree" on the session submission form.
    </p>
    <h3>Compensation</h3>
    <p>
    I understand that DevOpsDays Zurich provides one complimentary ticket per session and speaker. It is my responsibility to register in advance of arriving at DevOpsDays Zurich.
    </p>
    <h3>Session Integrity</h3>
    <p>
    Sessions are selected based on a combination of content, speaker experience and description. If a session was selected, it was selected as it was submitted, and any changes to the content or speaker team need to be approved by the Program Team. Please note, the program team reserves the right to remove a session at their own discretion, including if dramatic changes are made to the session’s content or speaker team.
    </p>
    <h3>Speaker Profiles</h3>
    <p>
    I will fill provide personal information including full name, contact number (will not be published) and a photo if my talk is selected. I understand that my session may not display properly if this information is not provided in time for the schedule.
    </p>
    <h3>Session Preparation</h3>
    <p>
    I understand that speaking at DevOpsDays Zurich is both a great honor and responsibility. If I am unable to devote the time and energy to this effort, I will notify the DevOpsDays Zurich planning team and DevOpsDays Zurich will replace my session.
    I understand that I am expected to spend a significant amount of time preparing for my session before the event.
    <=p>
    <h3>Obtaining consent</h3>
    <p>
    I understand that I am responsible for obtaining any required consents, permissions, and clearances to display or otherwise use any materials (both visual and audio) that I incorporate in my session.
    </p>
    <h3>Promoted Content</h3>
    <p>
    I understand that my session is for information sharing purposes only and that it is not a marketing opportunity. I agree that I will not use my session to promote any company, brand, or product.
    </p>
    <h3>Staying on topic and on time</h3>
    <p>
    I understand that staying focused on the topic outlined in the title and description of my session is extremely important. During my session, I pledge to stay focused on the topic at hand and make sure that the information presented adheres to the difficulty level (beginner, intermediate, or advanced) designated for my session.
    </p>

    <h3>Code of conduct</h3>
    <p>
    I understand that my slides and on-stage remarks must abide by the Code of Conduct for this conference. I also understand that if, while I am presenting, I fail to abide by the spirit of the <a href="https://www.devopsdays.org/events/2018-zurich/conduct/">Code of Conduct</a>, my session recording will not be published.
    SESSION RECORDING
    I understand that my session will be recorded and made publicly available following the conference.
    </p>
</div>
{% endblock %}
