{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        If you want to get some inspiration you can find our <a href="https://www.devopsdays.org/events/2017-zurich/program/">last years programme online on our website.</a>
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Visualizing DevOps</li>
        <li>Microservices</li>
        <li>Containers - Orchastration/Scheduling</li>
        <li>Serverless</li>
        <li>Continuous Integration and Continuous Delivery/Deployment</li>
        <li>Configuration Management - event driven/immutability</li>
    </ul>
</div>
{% endblock %}
